{% if page_obj.has_other_pages %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
                <a class="page-link"
                   href="{% if page_obj.has_previous %}
                            ?page={{ page_obj.previous_page_number }}
                        {% endif %}"
                   tabindex="-1" aria-disabled="true">Предыдущая
                </a>
            </li>
            {% for p in page_obj.paginator.page_range %}
                {% if page_obj.number == p %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link " href="?page={{ p }}">{{ p }}
                            <span class="sr-only">(current)</span></a>
                    </li>
                {% elif p > page_obj.number|add:-2 and p < page_obj.number|add:2 %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
                <a class="page-link "
                   href="{% if page_obj.has_next %}
                            ?page={{ page_obj.next_page_number }}
                         {% endif %}">
                    Следующая
                </a>
            </li>
        </ul>
    </nav>
{% endif %}